.randing {
    padding: 0;
    overflow: hidden;
}

.randing_container {
    position: relative;
    padding: 0;
    max-width: 100%;
    height: 100vh;
    display: flex;
}

.randing .randing_container .left,
.randing .randing_container .right {
    flex: 0 0 50%;
    transition: 0.1s all ease;
}

.randing .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
}

.content .top-img {
    width: 400px;
    height: 400px;
}

.content .top-img img {
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 12%);
    animation: homeImage 12s ease-in-out infinite 1s;
    transition: all 1s ease;
    background: #dbe5e3;
}

.content .bottom-text {
    margin: 20px auto;
    color: var(--whiteColor);
    text-align: center;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
    transition: 0.4s all ease;
}

.content .bottom-text .bottom_title {
    font-size: 3.5rem;
}

.content .bottom-text span {
    font-size: 3rem;
}

.start {
    margin-top: 30px;
    position: relative;
    width: max-content;
    height: max-content;
}

.start .start_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #E5989B;
    color: #fff;
    border-radius: 30px;
}


.start .start_btn::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #E5989B;
    color: #fff;
    transition: 0.5s;
    transform-origin: bottom;
    border-radius: 6px;
    transform: translatey(-100%) rotatex(90deg);
}

.start_btn:hover::before {
    transform: translatey(0) rotatex(0deg);
}

.start .start_btn::after {
    content: "포트폴리오 이동";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #E5989B;
    color: #fff;
    transition: 0.5s;
    transform-origin: top;
    border-radius: 6px;
    transform: translatey(0) rotatex(0deg);

}

.start_btn:hover::after {
    transform: translatey(100%) rotatex(90deg);
}

@media screen and (max-width:768px) {
    .randing .content {
        row-gap: 0.8rem;
    }
    .content .top-img {
        width: 270px;
        height: 270px;
    }
    .content .bottom-text {
        margin: 15px auto;
    }
    .content .bottom-text .bottom_title {
        font-size: 2rem;
    }
    .content .bottom-text span {
        font-size: 1.35rem;
    }
    .toggle_btn {
        top: 0;
        right: 0;
    }
}

@keyframes homeImage {
    0% {
        border-radius: 30% 60% 30% 70% / 40% 50% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}