.section_main {
    width: 100%;
    border-bottom: 1px solid rgb(107, 107, 107);
}

.main_container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: flex-start;
}

.logo_title {
    display: flex;
    align-items: flex-end;
    flex-flow: column;
    position: absolute;
    top: 6%;
    right: 6%;
    width: 15%;
    line-height: 1.35;
    padding-top: 0.85rem;
    border-top: 1px solid #ccc;
}

.logo_title span {
    letter-spacing: 1px;
}

.main_content .main_left {
    position: relative;
    width: 43%;
    display: flex;
    align-items: center;
    transform-origin: left bottom;
    transition: transform 0.1s linear 0.4s;
}

.main_content .main_left .left_content {
    margin-left: 14%;
    width: 72%;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;

}

.main_content .main_left .left_content .left_text {
    font-size: 1.6rem;
    width: max-content;
    letter-spacing: 0.2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-family: var(--korFont);
    border-bottom: 1px solid #121111;
    color: #121111;
    font-weight: 600;
}

.main_content .main_left .left_content .left_big {
    font-family: 'Montserrat';
    font-size: 2vw;
    padding-left: 1.2%;
    letter-spacing: -0.03rem;
    font-weight: 700;
    line-height: 1.5;
    margin-left: -0.5rem;
    position: relative;
    color: #121111;
}

.main_content .main_left .left_content .left_nomal {
    font-family: 'Chosunilbo_myungjo';
    line-height: 1.7;
    margin: 2.5rem 0 1.6rem 0;
    color: #121111;
    display: flex;
    flex-flow: column;
    font-size: 1.5rem;
}

.color {
    color: #e49a5d;
    border-bottom: 1px solid #D3B59D;
    display: inline-block;
}

.main_content .main_left .left_content .main_btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 1rem 1rem 0;
    padding: 0 2.5rem;
    height: 3.6rem;
    letter-spacing: 0.03rem;
    color: #fff;
    font-weight: 500;
    background: #121111;
    border: solid 1px #ccc;
    font: 200 1.44rem/3.6rem var(--mainFont);
    border-radius: 6px;
}

.main_content .main_left .left_content .main_btn:hover {
    background: transparent;
    color: #141414;
    border: 1px solid #ccc;
    transition: 0.3s all linear;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.11);
}

.main_content .right_content {
    position: relative;
    background: #EFFEFF;
    width: 57%;
    transform-origin: right center;
    transition: transform 0.1s linear 0s;
}

.main_content .main_img {
    position: absolute;
    bottom: 26%;
    right: 13.5%;
    max-height: 33vw;
    max-width: 30vw;
    height: 502px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 0.1%);
    animation: homeImage 10s ease-in-out infinite 1s;
}

@media screen and (max-width: 868px) {
    .main_content {
        flex-flow: column-reverse;
    }

    .main_content .main_left .left_content .left_text {
        margin-bottom: 1.2rem;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
    }

    .main_content .main_left .left_content .left_big {
        font-size: 4.8vw;
    }

    .main_content .main_left .left_content .left_nomal {
        font-size: 1.2rem;
        font-family: 'Chosunilbo_myungjo';
        line-height: 1.5;
        margin: 1.7rem 0 1rem 0;
    }

    .main_content .main_left,
    .main_content .right_content {
        width: 100%;
    }

    .main_content .main_left.flex_item {
        height: 60vh;
    }

    .main_content .right_content {
        background: transparent;
    }

    .main_content .right_content.flex_item {
        height: 60vh;
        margin-top: 10vh;
    }

    .main_content .main_left .left_content {
        margin-left: 5%;
        width: 90%;
    }

    .main_content .main_img {
        left: 16%;
        top: 0%;
        max-height: 48vw;
        max-width: 63vw;
    }

    .main_content .main_left .left_content .main_btn {
        margin: 1.2rem 1rem 1rem 0;
        font: 200 1.22rem/3rem var(--mainFont);
        padding: 0 2rem;
        height: 3.2rem;
    }

    .logo_title {
        top: 4.5%;
        right: 5%;
        width: 40%;
        line-height: 1.15;
    }

    .logo_title span {
        font-size: 1rem;
    }
}

@media screen and (max-width: 624px) {
    /* .section_main {
        background-color: #141414;
        color: var(--whiteColor);
    } */
    /* .main_content .main_left .left_content .left_nomal ,
    .main_content .main_left .left_content .left_text ,
    .main_content .main_left .left_content .left_big{
        color: var(--whiteColor);
    } */
    .main_content .main_left {
        justify-content: center;
    }
    .main_content .main_left .left_content .left_big {
        font-weight: 400;
    }
    .main_content .main_left .left_content .left_text {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        font-family: var(--korFont);
        padding-bottom: 0.7rem;
        font-weight: 500;
        border-bottom: 1px solid #ccc;
    }
    .main_content .right_content.flex_item {
        height: 60vh;
        margin-top: 7vh;
    }
    .main_content .main_img {
        left: 14%;
        top: 16%;
        max-height: 71vw;
        max-width: 73vw;
    }
    .main_content .main_left .left_content .main_btn:hover {
        background: #EFFEFF;
        border: 0;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11);
    }
}

@keyframes homeImage {
    0% {
        border-radius: 30% 60% 30% 70% / 40% 50% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}