.aside {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 270px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1200;
    border-right: 1px solid var(--titleColor);
    background: rgba(0, 0, 0, 0.88);
    border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.aside a {
    color: var(--whiteColor);
}

.aside .aside-logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .aside-logo:hover {
    box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.07);
    border-radius: 6px;
    cursor: pointer;
}

.aside .aside-logo a {
    position: relative;
    font-size: 1.6rem;
    letter-spacing: 3px;
}

.aside .aside-logo a span {
    font-family: 'Lobster Two', cursive;
}

.aside .aside-logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 3px solid var(--orangeColor);
    border-left: 3px solid var(--orangeColor);
    top: -7%;
    left: -7%;
}

.aside .aside-logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid var(--orangeColor);
    border-right: 3px solid var(--orangeColor);
    bottom: -4%;
    right: -7%;
}

.aside .aside-toggle {
    position: fixed;
    height: 40px;
    width: 45px;
    left: 15px;
    top: 15px;
    border-radius: 6px;
    background: rgba(52, 57, 61, 0.8);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
    display: none;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #ccc;
}

.aside .aside-toggle span {
    position: absolute;
    width: 30px;
    height: 2px;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 4px;
    transition: 0.5s;
}

.aside .aside-toggle.active span {
    background: var(--whiteColor);
}

.aside .aside-toggle span:nth-child(1) {
    transform: translateY(-10px);
    width: 16px;
    left: 8px;
}

.aside .aside-toggle span:nth-child(2) {
    transform: translateY(10px);
    width: 14px;
    left: 8px;
}

.aside .aside-toggle span:nth-child(3) {
    left: 5px;
}

.aside .aside-toggle.active span:nth-child(1) {
    width: 24px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.12s;
}

.aside .aside-toggle.active span:nth-child(2) {
    width: 24px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
}

.aside .aside-toggle.active span:nth-child(3) {
    transform: translateX(60px);
}

.aside .aside-nav {
    margin: -top 50px;
}

.aside .aside-nav li {
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
    width: max-content;
    text-align: center;
    border-bottom: 1px solid var(--orangeColor);
}

.aside .aside-nav li a {
    position: relative;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aside .aside-nav li a .link-icons {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.6rem;
    text-align: center;
    transition: 0.4s linear;
    color: var(--whiteColor);
}

.aside .aside-nav a .link-items {
    position: absolute;
    color: var(--whiteColor);
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    transition: 0.4s linear;
    transform: translateY(20px);
    opacity: 0;
}

.aside .aside-nav li:hover a .link-icons {
    transform: rotate(180deg);
    opacity: 0;
}

.aside .aside-nav li:hover a .link-items {
    transform: translateY(0);
    opacity: 1;
}

.aside .social {
    position: absolute;
    width: 100%;
    height: max-content;
    bottom: 0;
    left: 0;
    background: #181818;
    transition: 0.5s all ease;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
}

.aside .social:hover::after {
    left: -100%;
    transform: rotateZ(45deg);
    transition: 0.5s all ease;
    transition-delay: 0.2s;
}

.aside .social::after {
    position: absolute;
    content: "SOCIAL-ITEM";
    color: var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 1px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2EB573;
    cursor: pointer;
    font-family: var(--popFont);
    transition: 0.5s all ease;
}

.aside .social .social-box {
    width: 100%;
    height: 50px;
    background: #19191919;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside .social a {
    margin: 0 auto;
    padding-top: 10px;
    font-size: 1.2rem;
    color: var(--whiteColor);
    transition: 0.5s all ease;
}

.aside .social a:hover {
    color: #F2D7B3;
    transform: translateX(-5px) scale(1.05);
    transition: 0.5s all ease;
}

.aside .social a:nth-child(2):hover {
    transform: translateX(5px) scale(1.05);
}


@media screen and (max-width: 1240px) {
    .aside {
        transition: 0.5s all ease;
        left: -270px;
    }

    .aside.show {
        left: 0;
        width: 100%;
        transition: 0.5s all ease;
        z-index: 1100;
        background: #dfb2b2;
        background-image: url('../../../public/images/bg-cloud.png');
        background-position: center;
        background-size: cover;
        animation: movebg 40s linear infinite;
    }

    .aside .aside-logo a::before {
        border-top: 3px solid var(--whiteColor);
        border-left: 3px solid var(--whiteColor);
    }

    .aside .aside-logo a::after {
        border-bottom: 3px solid var(--whiteColor);
        border-right: 3px solid var(--whiteColor);
    }

    .aside .aside-nav .aside .aside-nav li {
        border-bottom: 1px solid #FEEAFA;
    }

    .aside .aside-nav {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        grid-gap: 0.55rem;
    }

    .aside .aside-nav li {
        width: 100%;
        border-bottom: 0;
        background: rgba(255, 255, 255, 0.13);
        border-radius: 12px;
        transition: all 0.4s ease;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.11);
    }

    .aside .aside-nav li:hover {
        transform: scale(0.9);
        transition: all 0.4s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
    }

    .aside .aside-nav li a .link-icons {
        font-size: 1.8rem;
    }

    .aside .aside-nav a .link-items {
        font-size: 1.25rem;
    }

    .aside .aside-toggle {
        display: flex;
        transition: 0.4s all ease;
    }

    .aside .aside-toggle.active {
        left: 85%;
        top: 10px;
        border: none;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.22);
        transition: 0.4s all ease;
        background: rgba(0, 0, 0, 0.17);
    }

    .aside .social::after {
        border-top: 1px solid #e9a3a3;
        background: #ebb3b3;
    }
}

/* @media screen and (max-width: 768px) {
} */

@keyframes movebg {
    0% {
        background-position: 0 top;
    }

    25% {
        background-position: -150% top;
    }

    50% {
        background-position: -300% top;
    }

    75% {
        background-position: -450% top;
    }

    100% {
        background-position: -600% top;
    }
}