.project {
    margin: 0 auto;
    padding: 0 30px;
    min-height: 100vh;
    overflow: hidden;
    transition: all 0.15s ease-in-out;
}

.project.dark {
    background: #231f20;
    color: #FFFFFF;
}

.project.dark .project_desc {
    background: #0a0a0a;
    transition: all 0.15s ease-in-out;
}

.project.dark .project_desc p {
    color: #FFFFFF;
}

.project.dark .project_desc p span {
    color: #FFFFFF;
    width: max-content;
    height: max-content;
    border-radius: 50%;
}

.project.dark .title::after {
    background: #FFFFFF;
}

.project_wrap {
    max-width: 1280px;
    min-height: 100vh;
    padding: 80px 0px;
    margin: 0 auto;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, 32px);
    white-space: nowrap;
    color: #3772F0;
}

.title::after {
    content: "";
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    margin-left: 12px;
    height: 1px;
    background: #3772F0;
}

.title span {
    font-size: clamp(24px, 4vw, 30px);
    padding: 0 12px;
}

.project_items {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
    font-family: var(--mainFont);
}

.project_items:not(:last-of-type) {
    margin-bottom: 100px;
}

.project_items .project_contents {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

.project_items:nth-of-type(2n + 1) .project_contents {
    grid-column: 7 / -1;
    text-align: right;
}

.project_contents .project_over {
    margin: 10px 0px;
    font-size: clamp(20px, 4vw, 20px);
    font-weight: 400;
}

.project_contents .project_title a {
    font-size: clamp(24px, 5vw, 32px);
    margin: 6px 0px;
    color: #3772F0;
}

.project_contents .project_title a:focus:not(:focus-visible) {
    outline: none;
    outline-offset: 0px;
}

.project_contents .sub_title {
    font-size: clamp(13px, 2vw, 14px);
}

.project_contents .dev {
    display: block;
    font-size: clamp(13px, 2vw, 14px);
    margin-bottom: 12px;
}

.project_contents .project_desc {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    position: relative;
    z-index: 2;
    padding: 20px 16px;
    border-radius: 4px;
    background: #FEFEFE;
    transition: all 0.15s ease-in-out;
}

.project_contents .project_desc::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    inset: 0%;
    background: rgba(255, 255, 255, 0.16);
    z-index: 1;
}

.project_contents .project_desc p {
    line-height: 1.4;
    font-family: var(--korFont);
    text-align: left;
    letter-spacing: 0.04rem;
    font-size: clamp(14.5px, 2.5vw, 16px);
    margin-bottom: 3px;

    display: flex;
    align-items: center;
    gap: 6px;
    color: #181818;
}

.project_contents .project_desc p>span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3772F0;
    font-size: clamp(10px, 1.8vw, 12px);
}

.project_contents .project_desc p:last-child {
    margin-bottom: 0;
}

.project_items:nth-of-type(2n + 1) .project_skills {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.project_items:nth-of-type(2n + 1) .project_skills li {
    margin: 0px 0px 5px 25px;
    padding-right: 12px;
}

.project_contents .project_skills {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
}

.project_skills li {
    margin: 0px 20px 5px 0px;
    font-family: var(--mainFont);
    white-space: nowrap;
    padding-left: 12px;
    font-size: clamp(15px, 3vw, 17px);
}

.project_items .project_links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    gap: 12px;
    height: 36px;
}

.project_items:nth-of-type(2n + 1) .project_links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
}

.project_items .project_links a,
.project_items .project_links button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 14px;
    border-radius: 3px;
    color: #231f20;
    font-family: var(--korFont);
    height: 100%;
    font-size: clamp(14px, 2.5vw, 15px);
    z-index: 10;
    letter-spacing: 0.025rem;
    transition: background 0.15s linear;
}

.project.dark .project_items .project_links a,
.project.dark .project_items .project_links button {
    border: none;
    color: #FEFEFE;
}

.project_items .project_links a svg {
    width: 20px;
    height: 20px;
}

.project_items .project_links a:hover,
.project_items .project_links button:hover {
    background: #3772F0;
    color: #FEFEFE;
}

.project_items .project_img {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}

.project_items:nth-of-type(2n + 1) .project_img {
    grid-column: 1 / 8;
}

.project_items .project_img a {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transition: filter 0.15s linear;

    overflow: hidden;
    border-radius: 6px;
}


.project_items .project_img a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    background: #151515;
    mix-blend-mode: screen;
    transition: background 0.15s linear;
}

.project_items .project_img a:hover::before {
    filter: none;
    background: transparent;
}

.project_items .project_img a .img_wrapper {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    mix-blend-mode: multiply;
    display: inline-block;
    filter: grayscale(56%) contrast(1) brightness(90%);
}

.project_img a .img_wrapper img {
    transform: translateZ(0);
}

@media screen and (max-width: 768px) {
    .project {
        padding: 0 12px;
    }

    .project_wrap {
        gap: 30px;
    }

    .title {
        margin: 10px 0px 20px;
    }

    .project_items:not(:last-of-type) {
        margin-bottom: 70px;
    }

    .project_items .project_contents {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        height: 100%;
        grid-column: 1 / -1;
        padding: 12px 12px 10px;
        z-index: 5;
        color: #FFFFFF;
    }

    .project_items:nth-of-type(2n + 1) .project_contents {
        grid-column: 1 / -1;
        text-align: left;
    }

    .project_contents .mobile {
        padding: 0 6px;
    }

    .project_contents .project_title a {
        color: #FFFFFF;
    }

    .project_contents .project_over {
        margin: 6px 0px;
        font-size: 16px;
    }

    .project_contents .project_title {
        margin: 0px 0px 3px;
    }

    .project_contents .project_title a {
        position: static;
    }

    .project_contents .project_title a::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 6;
    }

    .project_contents .project_desc {
        box-shadow: none;
        padding: 0px;
        background: transparent;
    }

    .project.dark .project_desc {
        background: transparent;
        color: #FFFFFF;
    }

    .project .project_desc::after {
        background: none;
    }

    .project .project_desc p {
        color: #FEFEFE;
        gap: 8px;
    }

    .project .project_desc p > span {
        padding: 1.5px;
        background: #3772F0;
        color: #FFFFFF;
    }

    .project_contents .project_skills {
        margin: 10px 0px;
    }

    .project_items:nth-of-type(2n+1) .project_skills {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }

    .project_items:nth-of-type(2n+1) .project_skills li {
        margin: 0px 10px 5px 0px;
        padding-right: 0;
    }


    .project_items .project_img {
        height: 100%;
        opacity: 1;
    }

    .project.dark .project_items .project_img {
        opacity: 0.25;
    }

    .project_items .project_img {
        grid-column: 1 / -1;
    }

    .project_items:nth-of-type(2n + 1) .project_img {
        grid-column: 1 / -1;
    }

    .project_items .project_img a .img_wrapper {
        object-fit: cover;
        width: auto;
        height: 100%;
        filter: grayscale(96%) contrast(1) brightness(50%);
    }

    .project_items .project_links a,
    .project_items .project_links button {
        background: transparent;
        color: #FEFEFE;
    }
}