.new_section {
    width: 100%;
    border-top: 1px solid #ccc;
}

.new_section .new_title {
    padding: 8.5rem 0;
}

.new_section .new_title h3 {
    font-size: 7.5vw;
    color: #020505;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
}

.new_container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.new_content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: flex-start;
}

.flex_item {
    height: 100vh;
}

.new_content .content_left {
    width: 43%;
    display: flex;
    align-items: center;
    position: relative;
    transform-origin: left bottom;
    transition: transform 0.1s linear 0.4s;
}

.new_content .content_left .left_content {
    margin-left: 14%;
    width: 72%;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.new_content .content_left .left_content .left_text {
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    padding-bottom: 2.4rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #121111;
    color: #121111;
}

.new_content .content_left .left_content .left-big {
    font-family: 'Montserrat';
    font-size: 5.35vw;
    letter-spacing: -0.03rem;
    font-weight: 700;
    line-height: 1.2;
    margin-left: -0.5rem;
    position: relative;
    color: #121111;
}

.new_content .content_left .left_content .left-nomal {
    font-size: 1.25rem;
    font-family: 'Chosunilbo_myungjo';
    line-height: 1.8;
    margin: 2.5rem 0 1.6rem 0;
    color: #121111;
}

.new_content .content_right {
    width: 57%;
    transform-origin: right center;
    transition: transform 0.1s linear 0s;
}

.row_img {
    position: absolute;
    bottom: 21%;
    right: 8.9%;
    height: 557px;
    max-height: 35vw;
    max-width: 35vw;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

.slide_nav {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}

.slide_nav .slide_item {
    display: block;
    height: 0.7rem;
    width: 1.8rem;
    margin: 1.2rem 0;
    text-indent: -9999px;
    box-shadow: none;
    border: none;
    background: rgba(0, 0, 0, 0.9);
}

.slide_nav .slide_item.active {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #121111;
}

.click_btn_text {
    position: absolute;
    top: -37.5%;
    right: -1%;
    width: 4rem;
    height: 4.5rem;
    border-radius: 6px;
    text-indent: -9999px;
    background: url('../../assets/images/clickImg.png');
    background-size: cover;
    -webkit-animation: updown 0.9s infinite alternate;
    -moz-animation: updown 0.9s linear infinite alternate;
    -o-animation: updown 0.9s infinite alternate;
    animation: updown 0.9s infinite alternate;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-8%);
    }
}

@media screen and (max-width: 768px) {
    .new_section .new_title {
        padding: 4rem 0 2rem 0;
    }

    .new_content {
        flex-flow: column;
    }

    .new_content .content_left {
        padding-top: 1rem;
    }
    .new_content .content_left .left_content .left_text {
        margin-bottom: 1.2rem;
    }
    .new_content .content_left .left_content .left-big {
        font-size: 6.4vw;
    }
    .new_content .content_left .left_content .left-nomal {
        font-size: 1.1rem;
        font-family: 'Chosunilbo_myungjo';
        line-height: 1.5;
        margin: 1.7rem 0 1rem 0;
    }

    .flex_item {
        height: 85vh;
    }

    .new_content .content_left,
    .new_content .content_right {
        width: 100%;
    }

    .new_content .content_left .left_content {
        margin-left: 5%;
        width: 90%;
    }

    .row_img {
        left: 5%;
        bottom: 12%;
        max-height: 68vw;
        max-width: 68vw;
    }

    .slide_nav {
        top: 70%;
        right: 5%;
    }

    .slide_nav .slide_item {
        width: 1.3rem;
        height: 0.5rem;
    }
}