.vanila-project {
    background: #373636;
    position: relative;
}

.vanila-project .section-title h2{
    color: var(--whiteColor);
}

.vanila-project .section-title h2::after ,
.vanila-project .section-title h2::before {
    background: var(--whiteColor);
}

.vanila-project .vanila-project-container {
    color: var(--whiteColor);
}

.vanila-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.vanila-content:after {
    content: "< 이미지 클릭해주세요 />";
    position: absolute;
    width: max-content;
    height: max-content;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    top: -4%;
    right: 0;
    animation: moveText 1s infinite alternate;
}

.vanila-content .vanila-card {
    border-radius: 6px;
    transition: 0.3s all ease;
    cursor: pointer;
    color: #000;
    background: #212121;
    border-radius: 10px;
    transition: 0.4s all ease;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.22);
}

.vanila-content .vanila-card:hover {
    background: #181818;
    transform: translateY(-10px);
    transition: 0.4s all ease;
}

.vanila-content .vanila-card:hover .vanila-card-content {
    transition: 0.3s all ease;
    color: #d2c621ce;
} 

.vanila-content .vanila-card:hover p {
    font-weight: 500;
}

.vanila-content .vanila-card .vanila-card-img {
    height: 250px;
    overflow: hidden;
    padding: 1rem;
    transition: 0.4s;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    /* background: #FFFFFF; */
}

.vanila-content .vanila-card .vanila-card-img img {
    height: 100%;
    border-radius: 6px;
    transition: 0.4s all ease;
}

.vanila-content .vanila-card .vanila-card-img:hover img {
    transform: scale(1.15);
    transition: 0.4s all ease;
}

.vanila-content .vanila-card .vanila-card-content {
    margin: 15px 0 20px 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    color: #EFE99A;
}

.vanila-content .vanila-card .vanila-card-box {
    padding: 16px 12px;
}

.vanila-content .vanila-card .vanila-card-box .vanila-card-title {
    color: var(--whiteColor);
    text-align: center;
    margin: 0.25rem;
}

.vanila-content .vanila-card .vanila-card-box .vanila-card-title p:nth-child(1) {
    font-size: 1.2rem;
    margin: 12px 0;
    font-family: var(--korFont);
}


.vanila-content .vanila-card .vanila-card-content span {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
}

.vanila-content .vanila-card .vanila-card-content label {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
    line-height: 3px;
}

/* modal */
.modal-content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f0f3f5;
    max-width: 94%;
    z-index: 550;
    box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
    padding: 40px;
    border-radius: 12px;
    margin: auto;
    transition: 0.4s all ease;
}

.vanila-card-modal,
.vanila-card-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 500;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.vanila-card-overlay {
    background: #ecf0f3;
}

.modal-img {
    padding: 0 10px;
    width: 55%;
    height: 100%;
    overflow: hidden;
}

.modal-img img {
    border-radius: 12px;
}

.modal-text {
    padding-left: 3rem;
    color: #181818;
    width: 43%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.modal-text span {
    display: inline-block;
    margin: 12px 0;
    font-size: 2.2rem;
}

.modal-text h3 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.modal-text p {
    margin: 1em 0;
    letter-spacing: 0.75px;
    line-height: 1.5;
    font-size: 1rem;
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.modal-btn .btn-md {
    margin-right: 2rem;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 2px 2px 4px #cbcbcb, -2px -2px 6px #ffffff;
    border-radius: 10px;
    padding: 1rem 2rem;
    transition: 0.3s all ease;
    cursor: pointer;
    color: #000;
    transition: 0.5s;
}

.modal-btn .btn-md:hover {
    background: #484f53;
    color: var(--whiteColor);
    transform: translateY(-4px);
}

.close-modal {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: max-content;
    height: max-content;
    font-size: 2rem;
    color: #FFF;
    text-align: center;
    border-radius: 12px;
    transition: all 0.2s linear;
}

.close-modal:hover {
    transition: all 0.2s linear;
    transform: translateY(-4%);
}

@media screen and (max-width: 1280px) {
    .modal-content {
        padding: 25px;
        width: 100%;
        max-width: 90%;
    }
    .modal-text  {
        justify-content: space-around;
        align-items: center;
    }

    .modal-text h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .vanila-content {
        grid-template-columns: repeat(2, 1fr);  
    }
    .modal-content {
        flex-wrap: wrap;
    }
    .modal-content .modal-img {
        margin: 50px 0 0 0;
    }
    .modal-content .left,
    .modal-content .right {
        padding: 0;
    }
    .modal-text span {
        font-size: 2rem;   
        font-weight: 600;
        font-family: var(--korFont);
    }
    .modal-text h3 {
        font-weight: 500;
        font-family: var(--popFont);
    }
    .modal-btn .btn-md {
        font-size: 1rem;
        padding: 0.75rem 2rem;
    } 

}

@media screen and (max-width: 768px) {
    .vanila-content {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .vanila-content .vanila-card {
        margin: 1% 2%;
    }

    .vanila-content:after {
        letter-spacing: 0.09rem;
        top: -1%;
        font-size: 0.6rem;
    }

    .modal-content {
        width: 100%;
        max-width: 80%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem;
    }
    .modal-img ,
    .modal-text {
        width: 100%;
    }

    .modal-text {
        margin-top: 10px;
        padding: 1rem;
    }
    .modal-btn {
        margin-top: 1rem;
    }
    .modal-btn .btn-md {
        margin: 0 1rem;
    }
    .close-modal {
        top: 10px;
    }

}

@keyframes moveText {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0.9;
        background: rgba(0, 0, 0, 0.065);
        transform: translateX(-9%);
    }
}