.aside {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 270px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1200;
    background: rgba(0, 0, 0, 0.88);
}

.aside a {
    color: var(--whiteColor);
}

.aside .aside-logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .aside-logo a {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 3px;
    transition: 0.3s all ease;
}

.aside .aside-logo a span {
    font-family: var(--popFont);
}

.aside .aside-logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 3px solid var(--orangeColor);
    border-left: 3px solid var(--orangeColor);
    top: -7%;
    left: -7%;
    transition: 0.3s all linear;
}

.aside .aside-logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid var(--orangeColor);
    border-right: 3px solid var(--orangeColor);
    bottom: -4%;
    right: -7%;
    transition: 0.3s all linear;
}

.aside .aside-logo:hover a {
    cursor: pointer;
    color: #2EB573;
    transition: 0.3s all linear;
}

.aside .aside-logo:hover a::before {
    top: 71%;
    border-bottom: 3px solid #a1fbd0;
    border-left: 3px solid #a1fbd0;
    border-top: none;
    transition: 0.3s all linear;
}

.aside .aside-logo:hover a::after {
    bottom: 77%;
    right: -12%;
    border-top: 3px solid #a1fbd0;
    border-bottom: none;
    border-right: 3px solid #a1fbd0;
    transition: 0.3s all linear;
}

.aside .aside-toggle {
    position: fixed;
    height: 40px;
    width: 45px;
    left: 15px;
    top: 15px;
    border-radius: 6px;
    background: #121111;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
    display: none;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #ccc;
}

.aside .aside-toggle span {
    position: absolute;
    width: 30px;
    height: 2px;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 4px;
    transition: 0.5s;
}

.aside .aside-toggle.active span {
    background: #525451c2;
}

.aside .aside-toggle span:nth-child(1) {
    transform: translateY(-10px);
    width: 16px;
    left: 8px;
}

.aside .aside-toggle span:nth-child(2) {
    transform: translateY(10px);
    width: 14px;
    left: 8px;
}

.aside .aside-toggle span:nth-child(3) {
    left: 5px;
}

.aside .aside-toggle.active span:nth-child(1) {
    width: 24px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.12s;
}

.aside .aside-toggle.active span:nth-child(2) {
    width: 24px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
}

.aside .aside-toggle.active span:nth-child(3) {
    transform: translateX(60px);
}

.aside .aside-nav {
    margin: -top 50px;
}

.aside .aside-nav li {
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
    width: max-content;
    text-align: center;
    border-bottom: 1px solid var(--orangeColor);
}

.aside .aside-nav li a {
    position: relative;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aside .aside-nav li a .link-icons {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.6rem;
    text-align: center;
    transition: 0.4s linear;
    color: var(--whiteColor);
}

.aside .aside-nav a .link-items {
    position: absolute;
    color: var(--whiteColor);
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    transition: 0.4s linear;
    transform: translateY(20px);
    opacity: 0;
}

.aside .aside-nav li:hover a .link-icons {
    transform: rotate(180deg);
    opacity: 0;
}

.aside .aside-nav li:hover a .link-items {
    transform: translateY(0);
    opacity: 1;
}

.aside .social {
    position: absolute;
    width: 100%;
    height: max-content;
    bottom: 0;
    left: 0;
    background: #181818;
    transition: 0.5s all ease;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
}

.aside .social:hover::after {
    left: -100%;
    transform: rotateZ(45deg);
    transition: 0.5s all ease;
    transition-delay: 0.2s;
}

.aside .social::after {
    position: absolute;
    content: "SOCIAL-ITEM";
    color: var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 1px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2EB573;
    cursor: pointer;
    font-family: var(--popFont);
    transition: 0.5s all ease;
}

.aside .social .social-box {
    width: 100%;
    height: 50px;
    background: #19191919;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside .social a {
    margin: 0 auto;
    padding-top: 10px;
    font-size: 1.2rem;
    color: var(--whiteColor);
    transition: 0.5s all ease;
}

.aside .social a:hover {
    color: #F2D7B3;
    transform: translateX(-5px) scale(1.05);
    transition: 0.5s all ease;
}

.aside .social a:nth-child(2):hover {
    transform: translateX(5px) scale(1.05);
}


@media screen and (max-width: 1280px) {
    .aside {
        transition: 0.5s all ease;
        left: -270px;
    }

    .aside .aside-logo:hover a {
        cursor: pointer;
        color: #2d2d30;
    }

    .aside .aside-logo:hover a::after,
    .aside .aside-logo:hover a::before {
        border-color: #2d2d30;
    }

    .aside.show {
        left: 0;
        width: 100%;
        transition: 0.5s all ease;
        z-index: 1100;
        background: #f0f9f9;
        background-image: url('../../../public/images/bg-cloud.png');
        background-position: center;
        background-size: cover;
        animation: movebg 40s linear infinite;
    }

    .aside .aside-logo a::before {
        border-top: 3px solid var(--whiteColor);
        border-left: 3px solid var(--whiteColor);
    }

    .aside .aside-logo a::after {
        border-bottom: 3px solid var(--whiteColor);
        border-right: 3px solid var(--whiteColor);
    }

    .aside .aside-nav .aside .aside-nav li {
        border-bottom: 1px solid #FEEAFA;
    }

    .aside .aside-nav {
        width: 100%;
        margin-top: 5rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }


    .aside .aside-nav li {
        border-bottom: 0;
        border-radius: 12px;
        transition: all 0.4s ease;
    }

    .aside .aside-nav li a .link-icons {
        font-size: 2.1rem;
        color: #060000;
    }

    .aside .aside-nav li a .link-icons svg {
        border-radius: 35%;
    }

    .aside .aside-nav li:nth-child(1) a .link-icons svg {
        background: rgb(155, 185, 239);
    }

    .aside .aside-nav li:nth-child(2) a .link-icons svg {
        background: rgb(165, 236, 180);
    }

    .aside .aside-nav li:nth-child(3) a .link-icons svg {
        background: rgb(171, 214, 231);
    }

    .aside .aside-nav li:nth-child(4) a .link-icons svg {
        background: rgb(236, 236, 165);
    }

    .aside .aside-nav li:nth-child(5) a .link-icons svg {
        background: rgb(214, 183, 183);
    }

    .aside .aside-nav a .link-items {
        font-size: 1.3rem;
        font-weight: 500;
        color: #181818;
    }

    .aside .aside-toggle {
        display: flex;
        transition: 0.4s all ease;
    }

    .aside .aside-toggle:hover,
    .aside .aside-toggle.active:hover {
        border: 0;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.12);
        transform: scale(0.9);
    }

    .aside .aside-toggle.active:hover {
        background: transparent;
    }

    .aside-toggle.active:hover span {
        background: #EFFEFF;
    }

    .aside .aside-toggle.active {
        left: 85%;
        top: 10px;
        border: none;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11);
        background: #e4ebec;
        transition: 0.4s all ease;
    }

    .aside .social::after {
        border-top: 1px solid rgba(0, 0, 0, 0.07);
        background: rgb(136, 208, 237);
    }
}

@media screen and (max-width: 564px) {
    .aside .aside-logo a {
        font-family: var(--mainFont);
        font-size: 1.5rem;
    }

    .aside .aside-nav li a .link-icons {
        font-size: 1.7rem;
        font-weight: 500;
    }

    .aside .aside-nav a .link-items {
        font-size: 1.1rem;
        font-weight: 500;
    }
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .aside .aside-nav li {
            align-items: center;
        }
    }
}

@keyframes movebg {
    0% {
        background-position: 0 top;
    }

    25% {
        background-position: -150% top;
    }

    50% {
        background-position: -300% top;
    }

    75% {
        background-position: -450% top;
    }

    100% {
        background-position: -600% top;
    }
}