.randing {
    padding: 0;
    overflow: hidden;
}

.randing .container {
    position: relative;
    padding: 0;
    height: 100vh;
    max-width: 100%;
    display: flex;
}

.randing .container .left,
.randing .container .right {
    flex: 0 0 50%;
    transition: 0.5s all ease;
}

.randing .container .left {
    background: #DEE2FF;
}

.randing .container .left.active {
    background: #FEEAFA;
    opacity: 1;
}

.randing .container .right {
    background: #FEEAFA;
}

.randing .container .right.active {
    background: #DEE2FF;
    opacity: 1;
}

.randing .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
}

.content .top-img {
    width: 350px;
    height: 350px;
}

.content .top-img img {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.55);
    border-top-left-radius: 43%;
    border-top-right-radius: 6%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 43%;
}

.content .bottom-text {
    margin: 20px 0;
    color: #181818;
    text-align: center;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
}

.content .bottom-text .bottom_title {
    font-size: 2.5rem;
}

.content .bottom-text span {
    font-size: 1.6rem;
}

.start {
    margin-top: 30px;
    position: relative;
    width: max-content;
    height: max-content;
}

.start .start_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #998FA8;
    color: #fff;
    border-radius: 30px;
}


.start .start_btn::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #998FA8;
    color: #fff;
    transition: 0.5s;
    transform-origin: bottom;
    transform: translatey(-100%) rotatex(90deg);
}

.start_btn:hover::before {
    transform: translatey(0) rotatex(0deg);
}

.start .start_btn::after {
    /* content: attr(data-text); */
    content: "Mouse Over";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #E5989B;
    color: #fff;
    transition: 0.5s;
    transform-origin: top;
    transform: translatey(0) rotatex(0deg);

}

.start_btn:hover::after {
    transform: translatey(100%) rotatex(90deg);
}

.toggle_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 90px;
    height: 40px;
    display: block;
    border-radius: 30px;
    background-color: #FEEAFA;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    margin: 30px;
    transition: all 0.3s ease-in;
}


.toggle_btn span {
    position: absolute;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #DEE2FF;
    transition: all 0.3s ease-in;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.16);
}

/* .toggle_btn span::after {
    position: absolute;
} */

.toggle_btn.active {
    background: #DEE2FF;
}

.toggle_btn.active span {
    left: calc(100% - 44px);
    background: #FEEAFA;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width:768px) {
    .toggle_btn {
        top: -15px;
        right: -15px;
    }
}