.arrow {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 6px 12px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    z-index: 600;
    border-radius: 20% 12% 20% 12%;
    transition: 0.3s all ease;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .arrow {
        padding: 4px 10px;
    }
}