.contact {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 36px 18px;
}

.inner {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 16px;
}

.inner .contact_img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.3s all ease;
}

.inner .contact_img img {
    border-radius: 6px;
    transition: 0.3s all ease;
    width: 100%;
    height: 100%;
}

.inner .contact_img:hover {
    transition: 0.2s all ease;
}

.inner .contact_img:hover img {
    transform: scale(0.98);
    transition: 0.2s all ease;
}

.inner .contact_text {
    position: relative;
    width: 100%;
    padding: 16px;
}

.inner .contact_text .contact_title {
    font-size: clamp(30px, 5vw , 40px);
    line-height: 1.5;
}

.inner .contact_text .contact_list {
    padding: 20px 0px 0px 6px;
}

.inner .contact_text .contact_list .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9px;
}

.inner .contact_text .contact_list .items li {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.6rem;
    flex-flow: column;
    font-family: var(--korFont);
}

.inner .contact_text .contact_list .items li span {
    cursor: initial;
    font-size: 16px;
    font-weight: 600;
}

.inner .contact_text .contact_list .items li span:nth-child(2),
.inner .contact_text .contact_list .items li a {
    font-size: 17px;
    width: max-content;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.3rem;
    letter-spacing: 0.02rem;
    font-family: var(--korFont);
    font-weight: 600;
}

.contact .inner .contact_right {
    margin-top: 1rem;
}

.contact .inner .contact_right .submitForm {
    display: flex;
    flex-flow: column;
    vertical-align: top;
}

.contact .inner .contact_right .submitForm .area {
    width: 100%;
    position: relative;
}

.contact .inner .contact_right .submitForm label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 15px;
    transition: top .5s ease;
    color: #999;
}

.contact .inner .contact_right .submitForm input[type="text"] {
    margin-bottom: 14px;
    width: 100%;
    height: 56px;
    padding: 20px 10px 10px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid #ada9a9;
}

.contact .inner .contact_right .submitForm textarea {
    margin-bottom: 14px;
    width: 100%;
    height: 56px;
    padding: 20px 10px 10px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    border: none;
    resize: none;
    border-bottom: 1px solid #999;
}

.contact .contact_right .submitForm .contact_btnbox {
    text-align: center;
    margin-top: 1.4rem;
    border-radius: 3px;
}

.contact .contact_right .submitForm .contact_btnbox .contact_btn {
    position: relative;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    font-weight: 300;
    padding: 0.8rem 3.5rem;
    overflow: hidden;
    font-family: var(--korFont);
    vertical-align: top;
    z-index: 100;
    border-radius: 3px;
    transition: 0.4s all linear;
}

.contact .contact_right .submitForm .contact_btnbox .contact_btn span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #08f;
    transition: 0.4s all linear;
    transform: translateX(-100%);
    z-index: -1;
}

.contact .contact_right .submitForm .contact_btnbox .contact_btn:hover {
    transition: 0.4s all linear;
}

.contact .contact_right .submitForm .contact_btnbox .contact_btn:hover span {
    transform: translateX(0);
    transition: 0.4s all linear;
}

.contact .inner .contact_right .submitForm input[type="text"]:focus,
.contact .inner .contact_right .submitForm textarea:focus {
    border-bottom: 2px solid #3772F0;
}

.contact .inner .contact_right .submitForm input[type="text"]:focus+label,
.contact .inner .contact_right .submitForm textarea:focus+label {
    top: 0;
    font-size: 13px;
    color: #3772F0;
}

textarea, input {
    font-family: var(--popFont);
}

@media screen and (max-width: 768px) {
    .contact {
        padding: 30px 12px;
    }

    .contact .inner {
        flex-flow: column;
    }

    .inner .contact_img img {
        object-fit: cover;
    }

    .contact .inner .contact_right .submitForm label {
        font-size: 14px;
    }

    .contact .inner .contact_right .submitForm input[type="text"] {
        margin-bottom: 8px;
        height: 52px;
    }

    .contact .inner .contact_right .submitForm textarea {
        font-size: 16px;
        height: 76px;
    }

    .contact .contact_right .submitForm .contact_btnbox .contact_btn {
        font-size: 15px;
    }

    .inner .contact_img,
    .inner .contact_text {
        position: relative;
        width: 100%;
    }

    .inner .contact_text .contact_title {
        margin-top: 0;
        position: relative;
    }

    .inner .contact_text .contact_list .items li {
        gap: 4px;
        margin-bottom: 12px;
    }

    .inner .contact_text .contact_list .items li span {
        font-size: 15px;
    }

    .inner .contact_text .contact_list .items li span:nth-child(2),
    .inner .contact_text .contact_list .items li a {
        font-size: 14px;
    }
}