.project {
    background: #29293F;
}

.project .section-title h2::after ,
.project .section-title h2::before {
    background: #EFE99A;
}

.project .project-contetnt {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.project .project-container  {
    color: var(--whiteColor);
}

.project .project-contetnt .project-item-in {
    background: var(--whiteColor);
    color: #29293F;
    border-radius: 10px;
    padding: 25px 15px;
    text-align: center;
    overflow: hidden;
    transition: 0.4s all ease;
}

.project .project-contetnt .project-item-in:hover {
    box-shadow: 0 0 10px rgba(48, 46, 77, 0.15);
    transform: scale(1.06);
}

.project .project-contetnt .project-item-in .project-icons {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: block;
    background-color: var(--orangeColor);
    margin: 0 auto 20px;
    text-align: center;
    position: relative;
    transition: 0.4s all ease;
}

.project .project-contetnt .project-item-in .project-icons:hover {
    background-color: var(--whiteColor);
}

.project .project-contetnt .project-item-in .project-icons:hover svg {
    color: #000;
}

.project .project-contetnt .project-item-in .project-icons svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--whiteColor);
    font-size: 40px;
}

.project .project-contetnt .project-item-in h4 {
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 600;
}

.project .project-contetnt .project-item-in .js_imgbox {
    position: relative;
    height: 250px;
    padding: 0.25rem;
    transition: 0.4s ease;
    border-radius: 12px;
    overflow: hidden;
}

.project .project-contetnt .project-item-in .js_imgbox img {
    position: relative;
    height: 100%;
    border-radius: 12px;
    object-fit: inherit;
    transition: 0.4s ease;
    image-rendering: -webkit-optimize-contrast;
}


.project .project-contetnt .project-item-in .js_imgbox img:hover {
    transform: scale(1.1);
    transition: 0.4s ease;
    opacity: 0.1;
}


.project .project-contetnt .project-item-in .project-links {
    margin-top: 20px;
}

.project .project-contetnt .project-item-in .project-links .link-btn {
    padding: 10px 24px;
    margin: 0 12px;
    background: #29293F;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: max-content;
    font-size: 1.1rem;
    column-gap: 2px;
    color: #E2E1E5;
    font-weight: 600;
    border-radius: 4px;
    transition: 0.3s all ease;
}

.project .project-contetnt .project-item-in .project-links .link-btn span {
    display: inline-block;
    transition: 0.3s all ease;
}

.project .project-contetnt .project-item-in .project-links .link-btn .pro-icons {
    font-size: 1.5rem;
    transition: 0.3s all ease;
}

.project .project-contetnt .project-item-in .project-links .link-btn:hover {
    color: #EFE99A;
}

.project .project-contetnt .project-item-in .project-links .link-btn:hover span {
    transform: scale(1.05) translateX(-4%) rotate(-12deg);
}
    
.project .project-contetnt .project-item-in .project-links .link-btn:hover .pro-icons {
    transform: scale(1.05) translateX(4%) rotate(12deg);
}

.project-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transform: rotateZ(90deg);
    height: 100%;
    background: var(--whiteColor);
    border: 2px solid #ccc;
    border-radius: 12px;
    transition: 1s all ease;
    background: #191919;
}

.project-overlay .overlay-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 80%;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    transition: 0.5s all linear;
    transition-delay: 0.8s;
    color: var(--whiteColor);
}

.project-overlay .overlay-content span {
    display: inline-block;
    font-family: var(--popFont);
    font-size: 1.3rem;
    font-weight: 600;
}

.project-overlay .overlay-content p {
    font-family: var(--korFont);
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 500;
}

.project .project-contetnt .project-item-in .js_imgbox:hover .project-overlay {
    top: 0%;
    left: 0%;
    transition: 1s all ease;
    transform: rotateZ(0);
}

.project .project-contetnt .project-item-in .js_imgbox:hover .project-overlay .overlay-content {
    left: 50%;
}

@media screen and (max-width: 1064px) {
    .pro_row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .pro_row .project-contetnt {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .pro_row {
        display: grid;
        grid-template-columns: 1fr;
    }
    .pro_row .project-contetnt {
        max-width: 100%;
    }
}