.aside {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 240px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1200;
    transition: all 0.15s linear;
}

.aside a {
    color: var(--whiteColor);
}

.aside .aside-logo {
    position: absolute;
    top: 30px;
    text-transform: capitalize;
}

.aside .aside-logo a {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.15rem;
    transition: 0.3s all ease;
}

.aside .aside-logo a span {
    font-family: var(--appleFont);
}

.aside .aside-logo a::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-top: 3px solid #2EB573;
    border-left: 3px solid #2EB573;
    top: -8%;
    left: -8%;
    transition: 0.3s all linear;
}

.aside .aside-logo a::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-bottom: 3px solid #2EB573;
    border-right: 3px solid #2EB573;
    bottom: -5%;
    right: -8%;
    transition: 0.3s all linear;
}

.aside .aside-logo:hover a {
    cursor: pointer;
    transition: 0.3s all linear;
}

.aside .aside-logo:hover a::before {
    top: 72%;
    border-bottom: 3px solid #a1fbd0;
    border-left: 3px solid #a1fbd0;
    border-top: none;
    transition: 0.3s all linear;
}

.aside .aside-logo:hover a::after {
    bottom: 78%;
    right: -13%;
    border-top: 3px solid #a1fbd0;
    border-bottom: none;
    border-right: 3px solid #a1fbd0;
    transition: 0.3s all linear;
}

.aside .aside-toggle {
    position: fixed;
    height: 36px;
    width: 36px;
    left: 15px;
    top: 15px;
    border-radius: 6px;
    display: none;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.aside .aside-toggle span {
    position: absolute;
    width: 26px;
    height: 2px;
    border-radius: 4px;
    transition: 0.5s;
    background: #FFFFFF;
}

.aside .aside-toggle span:nth-child(1) {
    transform: translateY(-10px);
    width: 16px;
    left: 8px;
}

.aside .aside-toggle span:nth-child(2) {
    transform: translateY(10px);
    width: 14px;
    left: 8px;
}

.aside .aside-toggle span:nth-child(3) {
    left: 5px;
}

.aside .aside-toggle.active span:nth-child(1) {
    width: 22px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.12s;
}

.aside .aside-toggle.active span:nth-child(2) {
    width: 22px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
}

.aside .aside-toggle.active span:nth-child(3) {
    transform: translateX(60px);
}

.aside .aside-nav .border {
    position: relative;
    height: 60px;
    z-index: 1;
    text-align: center;
    border-bottom: 1px solid #9B9EA3;
}

.aside .aside-nav .border.bt {
    border-bottom: 2px solid #08f;
}

.aside .aside-nav .border a {
    position: relative;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aside .aside-nav .border a .link-icons {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.4s linear;
}

.aside .aside-nav a .link-items {
    position: absolute;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    transition: 0.4s linear;
    transform: translateY(20px);
    opacity: 0;
}

.aside .aside-nav .border:hover a .link-icons {
    transform: rotate(180deg);
    opacity: 0;
}

.aside .aside-nav .border:hover a .link-items {
    transform: translateY(0);
    opacity: 1;
}

.aside .social {
    position: absolute;
    width: 100%;
    height: max-content;
    bottom: 0;
    left: 0;
    background: #181818;
    transition: 0.5s all ease;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
}

.aside .social:hover::after {
    left: -100%;
    transform: rotateZ(45deg);
    transition: 0.5s all ease;
    transition-delay: 0.2s;
}

.aside .social::after {
    position: absolute;
    content: "SOCIAL-ITEM";
    color: var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 1px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2EB573;
    cursor: pointer;
    font-family: var(--popFont);
    transition: 0.5s all ease;
}

.aside .social .social-box {
    width: 100%;
    height: 50px;
    background: #19191919;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside .social a {
    margin: 0 auto;
    padding-top: 10px;
    font-size: 1.2rem;
    color: var(--whiteColor);
    transition: 0.5s all ease;
}

.aside .social a:hover {
    color: #F2D7B3;
    transform: translateX(-5px) scale(1.05);
    transition: 0.5s all ease;
}

.aside .social a:nth-child(2):hover {
    transform: translateX(5px) scale(1.05);
}


@media screen and (max-width: 1280px) {
    .aside {
        transition: 0.35s all ease;
        left: -300px;
    }

    .aside.show {
        width: 100%;
        left: 0;
        z-index: 1000;
    }

    .aside .aside-nav {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .aside .aside-nav .border a .link-icons {
        font-size: 26px;
        color: #060000;
    }

    .aside .aside-nav .border a .link-icons svg {
        border-radius: 3px;
    }

    .aside .aside-nav a .link-items {
        font-size: 1.3rem;
        font-weight: 500;
        color: #181818;
    }

    .aside .aside-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s all ease;
    }

    .aside .aside-toggle.active {
        left: 90%;
        top: 20px;
        border: none;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11);
        transition: 0.35s all ease;
    }

    .aside .social::after {
        border-top: 1px solid rgba(0, 0, 0, 0.07);
    }
}

@media screen and (max-width: 564px) {
    .aside .aside-toggle.active {
        top: 10px;
        border: none;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11);
        transition: 0.4s all ease;
    }

    .aside .aside-logo {
        top: 60px;
    }

    .aside .aside-logo a {
        font-family: var(--mainFont);
        font-size: 1.5rem;
    }

    .aside .aside-nav .border a .link-icons {
        font-size: 1.7rem;
        font-weight: 500;
    }

    .aside .aside-nav a .link-items {
        font-size: 1.1rem;
        font-weight: 500;
    }
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .aside .aside-nav .border {
            align-items: center;
        }
    }
}

@keyframes movebg {
    0% {
        background-position: 0 top;
    }

    25% {
        background-position: -150% top;
    }

    50% {
        background-position: -300% top;
    }

    75% {
        background-position: -450% top;
    }

    100% {
        background-position: -600% top;
    }
}