.footer {
    font-family: var(--mainFont);
    background: #181818;
    color: #FFFFFF;
}

.footer .footer_content {
    padding: 30px;
    text-align: center;
    transition: 0.3s all ease;
}

.footer .footer_content .icons {
    margin: 0 1rem;
    font-size: clamp(18px , 3vw , 24px);
    transition: 0.2s all ease;
    color: #FFF;
}

footer .footer_content .icons:hover {
    color: #3772F0;
}

.footer .footer_content .footer_copy {
    margin-top: 0.5rem;
    font-size: clamp(16px, 2.5vw , 18px);
    letter-spacing: 1px;
}

.footer .footer_content .footer_subtext {
    display: inline-block;
    font-size: clamp(14px, 1.5vw, 14px);
    color: #968f8f;
}

@media screen and (max-width: 768px) {
    .footer .footer_content {
        padding: 18px;
    }
}