.footer {
    font-family: "Josefin Sans", "Noto Sans KR", sans-serif;
}

.footer .footer_content {
    padding: 3rem;
    text-align: center;
    transition: 0.3s all ease;
}

.footer .footer_content .icons {
    margin: 0 1rem;
    font-size: 2rem;
    transition: 0.3s all ease;
    color: #FFF;
}

footer .footer_content .icons:hover {
    color: rgb(111, 185, 214);
}

.footer .footer_content .footer_copy {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.footer .footer_content .footer_subtext {
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 0.74rem;
    font-weight: 300;
    color: #8c8c8c;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 8px auto;
    }
    
    .footer .footer_content {
        padding: 1.5rem;
    }
    
    .footer .footer_content .icons {
        margin: 0 0.8rem;
        font-size: 1.3rem;
    }
    
    .footer .footer_content .footer_copy {
        margin-top: 0.35rem;
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 564px) {
    .footer {
        padding: 6px auto;
    }
    
    .footer .footer_content {
        padding: 1.25rem;
    }
    .footer .footer_content .icons {
        color: var(--whiteColor);
        margin: 0 1rem;
        font-size: 1.1rem;
    }
    
    .footer .footer_content .footer_copy {
        margin-top: 0.35rem;
        font-size: 0.85rem;
        letter-spacing: 1px;
    }
    .footer .footer_content .footer_subtext {
        font-size: 0.7rem;
        margin-top: 0.66rem;
    }
}