.contact {
    position: relative;
    overflow: hidden;
}

.inner {
    padding: 60px 0 40px 0;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.inner .contact_img {
    position: relative;
    width: 48%;
    overflow: hidden;
    transition: 0.3s all ease;
    border-radius: 12px;
}

.inner .contact_img img {
    border-radius: 6px;
    transition: 0.3s all ease;
}

.inner .contact_img:hover {
    transition: 0.3s all ease;
}

.inner .contact_img:hover img {
    transform: scale(1.12);
    transition: 0.3s all ease;
}

.inner .contact_text {
    position: relative;
    width: 48%;
}

.inner .contact_text .contact_title {
    font-family: 'Montserrat';
    letter-spacing: -0.03rem;
    font-size: 5.2vw;
    color: #121111;
}

.inner .contact_text .contact_list {
    padding-top: 3rem;
}

.inner .contact_text .contact_list .items li {
    margin-bottom: 2.5rem;
    display: flex;
    gap: 0.85rem;
    flex-flow: column;
}

.inner .contact_text .contact_list .items li span {
    cursor: initial;
    font-size: 1.6rem;
}

.inner .contact_text .contact_list .items li a {
    font-size: 1.5rem;
    width: max-content;
    color: #121111;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.3rem;
}

@media screen and (max-width: 768px) {
    .contact .inner {
        flex-flow: column;
    }

    .inner .contact_img,
    .inner .contact_text {
        position: relative;
        width: 100%;
    }

    .inner .contact_text .contact_title {
        margin-top: 1.7rem;
        padding-left: 0.5rem;
        font-size: 9vw;
    }
    .inner .contact_text .contact_list {
        padding: 1.3rem 1rem 0 1rem;
    }
    .inner .contact_text .contact_list .items li {
        gap: 0.3rem;
        margin-bottom: 1rem;
    }
    .inner .contact_text .contact_list .items li span {
        font-size: 1.2rem;
    }
    .inner .contact_text .contact_list .items li a {
        font-size: 1.1rem;
        width: max-content;
        color: #121111;
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.2rem;
    }
}