.project_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 20px;
    transition: background color 0.25s linear;
}

.project_container.dark .splide__pagination__page{
    background: #Fefefe;
}

/* 페이지네이션 */
.splide__pagination {
    bottom: -2.5em;
}
.splide__pagination__page {
    opacity: 0.8;
    width: 10px;
    height: 10px;
    background: #1E1F21;
}

.splide__pagination__page.is-active {
    background: rgba(0, 0, 0, 0.33);
}

.project_container .project_wrap {
    width: 100%;
    height: 100%;
    margin: auto;
    /* overflow: hidden; */
}

.react_content {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 36px 18px;
    display: flex;
    gap: 16px;
    cursor: pointer;
    border-radius: 12px;
    background: #Fefefe;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.react_content .react_left {
    position: relative;
    width: 100%;
    padding-left: 12px; 
    gap: 6px;
    font-family: var(--korFont);
}

.react_content .content_title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 3px;
}

.react_content .react_left .react_number {
    font-size: 26px;
    display: block;
    padding-bottom: 10px;
}

.react_content .title {
    padding-bottom: 6px;
}

.react_content .title .react_subtitle {
    font-size: 20px;
}

.react_content .react_left .react_title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 4px;
    letter-spacing: 0.16rem;
    width: max-content;
}

.react_content .react_left .react_skills {
    padding: 12px 0;
}

.react_content .react_left .react_skills .skill_arr {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 3px;
    padding-top: 3px;
}

.react_content .react_left .react_skills .skill_arr .skill{
    font-size: 20px;
}

.react_content .react_left .desc_contents {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 12px 0;
}

.react_content .react_left .arr_desc {
    font-weight: 500;
    letter-spacing: 0.015rem;
    line-height: 1.35;
    font-size: 18px;
}

.react_content .react_left .link_btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 20px 0px 0px;
    gap: 12px;
}

.react_content .react_left .link_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 6px;
}

.react_content .react_left .link_btn a:hover,
.react_content .react_left .link_btn a:focus,
.react_content .react_left .link_btn a:active {
    background: #08f;
}

.react_content .react_right {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;   
}

.react_content .react_right img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 1024px) {
.react_content .react_left {
    padding-left: 6px; 
}

.react_content .content_title {
    font-size: 18px;
}

.react_content .title .react_subtitle {
    font-size: 18px;
}

.react_content .react_left .react_title {
    font-size: 32px;
}

.react_content .react_left .react_skills {
    padding: 10px 0;
}

.react_content .react_left .react_skills .skill_arr .skill{
    font-size: 18px;
}

.react_content .react_left .arr_desc {
    font-size: 16px;
}

.react_content .react_left .link_btn a {
    height: 53px;
}

.react_content .react_left .link_btn a:hover,
.react_content .react_left .link_btn a:focus,
.react_content .react_left .link_btn a:active {
    background: #08f;
}
}

@media screen and (max-width: 768px) {
    .react_content {
        flex-direction: column-reverse;
        padding: 16px 12px;
    }
    
    .react_content .content_title {
        font-size: 16px;
        font-weight: 600;
    }
    
    .react_content .react_left .react_number {
        font-size: 24px;
        padding-bottom: 9px;
    }
    
    .react_content .title .react_subtitle {
        font-size: 16px;
    }
    
    .react_content .react_left .react_title {
        font-size: 30px;
    }
    
    .react_content .react_left .react_skills {
        padding: 9px 0;
    }
    
    .react_content .react_left .react_skills .skill_arr .skill{
        font-size: 16px;
    }
    
    .react_content .react_left .desc_contents {
        padding: 10px 0;
    }
    
    .react_content .react_left .arr_desc {
        font-size: 16px;
    }
    
    .react_content .react_left .link_btn a {
        height: 50px;
    }
}

@media screen and (max-width: 564px) {
    .react_content {
        padding: 16px 10px;
    }
    
    .react_content .content_title {
        font-size: 15px;
        font-weight: 500;
    }
    
    .react_content .react_left .react_number {
        font-size: 22px;
        padding-bottom: 8px;
    }
    
    .react_content .title .react_subtitle {
        font-size: 15px;
    }
    
    .react_content .react_left .react_title {
        font-weight: 500;
        font-size: 30px;
    }
    
    .react_content .react_left .react_skills {
        padding: 8px 0;
    }
    
    .react_content .react_left .react_skills .skill_arr .skill{
        font-size: 15px;
    }
    
    .react_content .react_left .desc_contents {
        padding: 9px 0;
    }
    
    .react_content .react_left .arr_desc {
        font-size: 15px;
    }
    
    .react_content .react_left .link_btn a {
        height: 48px;
    }
}

@media(hover: hover) and (pointer: fine) {
    .react_content .react_left .link_btn a:hover {
        background: #181818;
        color: #fff;
    }
}