.react_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f9f9f9;
    padding: 0 1rem;
    border-bottom: 1px solid #ccc;
}

.react_container .react_wrap {
    max-width: 1240px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.react_content {
    position: relative;
    max-width: 96vw;
    margin: 14vh auto;
    padding: 0 2.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
}

.react_content .react_left {
    position: relative;
    height: 100%;
    width: 35%;
}

.react_content .react_left .react_number {
    display: inline-block;
    font-size: 2.2rem;
}

.react_content .react_left .react_title {
    font-size: 3.2rem;
    font-family: var(--popFont);
    margin-bottom: 2rem;
    padding-bottom: 0.8rem;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    width: max-content;

    letter-spacing: 0.75px;
}

.react_content .react_left .react_desc {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    font-family: var(--korFont);
    line-height: 1.5;
}

.react_content .react_left .react_icons {
    display: inline-block;
    font-size: 2rem;
    line-height: 2rem;
    margin: 1rem auto;
    /* border: 1px solid #ccc; */
    width: 100%;
}

.react_content .react_left .react_icons svg {
    margin-right: 0.75rem;
}

.react_content .react_left .react_icons svg:nth-child(1) {
    color: rgb(248, 42, 42);
}

.react_content .react_left .react_icons svg:nth-child(2) {
    color: rgb(28, 149, 28);
}

.react_content .react_left .react_icons svg:nth-child(3) {
    background: rgb(219, 219, 98);
    border-radius: 6px;
}

.react_content .react_left .react_icons svg:nth-child(4) {
    color: var(--whiteColor);
    background: rgb(92, 195, 235);
    border-radius: 6px;
}

.react_content .react_left .react_icons svg:nth-child(5) {
    color: var(--whiteColor);
    background: rgb(186, 186, 48);
    border-radius: 6px;
}

.react_content .react_left .link_btn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 56px;
    margin: 16px auto;
    gap: 12px;
}

.react_content .react_left .link_btn a {
    display: block;
    text-align: center;
    line-height: 56px;
    width:100%;
    letter-spacing: 1px;
    color: #FFF;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: 0.3s all linear;
}

.react_content .react_left .link_btn a:hover {
    background: transparent;
    color: #000;
    border: 1.5px solid #ccc;
}

.react_content .react_left .link_btn a:first-child {
    font-size: 20px;
    background: #aad8e4;
}

.react_content .react_left .link_btn a:last-child {
    background: #Fec2c1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.react_content .react_right {
    width: 58%;
    position: relative;
}

.react_content .react_right img {
    border-radius: 12px;
}

.react_content .react_right::after {
    position: absolute;
    content: "< 옆으로 />";
    width: max-content;
    height: max-content;
    font-size: 0.85rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    top: -6%;
    font-family: var(--korFont);
    right: 0;
    animation: leftright 1s infinite alternate;
    border-radius: 12px;
}

@media screen and (max-width: 1240px) {
    .react_container .react_wrap {
        max-width: 1360px;
    }
}

@media screen and (max-width: 1024px) {
    .react_content {
        flex-flow: column-reverse;
        max-width: 90%;
        margin: 10vh auto;
        padding: 0;
    }

    .react_content .react_right,
    .react_content .react_left {
        width: 100%;
        height: 100%;
    }

    .react_content .react_left {
        margin-top: 1.6rem;
    }

    .react_content .react_left .react_number {
        font-size: 1.75rem;
    }

    .react_content .react_left .react_title {
        font-size: 2.5rem;
        font-family: var(--korFont);
        margin-bottom: 1.5rem;
        padding-top: 0.6rem;
        font-weight: 600;
    }

    .react_content .react_left .react_desc {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .react_content .react_left .react_icons {
        display: inline-block;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .react_content .react_left .link_btn a {
        font-size: 1rem;
        padding: 10px 26px;
        letter-spacing: 1px;
    }

    .react_content .react_left_right {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 620px) {
    .react_content .react_left .react_title {
        font-size: 2.2rem;
        margin-bottom: 0.8rem;
        padding-bottom: 0.45rem;
        font-weight: 600;
        font-family: var(--mainFont);
    }

    .react_content .react_left .react_desc {
        margin-bottom: 1rem;
        font-weight: 500;
    }

    .react_content .react_left .react_icons {
        margin: 0.5rem auto;
    }

    .react_content .react_left_right {
        line-height: 1.2;
        font-size: 0.8rem;
        padding: 0.1rem;
    }

    .react_content .react_left .link_btn a {
        padding: 10px 36px;
    }

    .react_content .react_right::after {
        font-weight: 400;
        top: -10%;
    }
}

@keyframes leftright {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0.76;
        transform: translateX(-9%);
    }
}

@media(hover: hover) and (pointer: fine) {
    .react_content .react_left .link_btn a:hover {
        border: 1.5px solid #ccc;
        background: #181818;
        color: #fff;
    }
}