@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');
@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* background-color */
  /* color */
  --whiteColor: #FEFEFE;
  --orangeColor: #CB9106;
  
  /* box-shadow */

  /* font-size */
  --nmSize : 20px;
  --mdSize : 30px;
  --lgSize : 40px;

  /* font-family */
  --korFont: 'Chosunilbo_myungjo';
  --mainFont: 'Rajdhani', sans-serif;
  --popFont: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--mainFont);
}

ul,
li,
a,
button,
input,
textarea {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}


/* section in */
.main-content {
  padding-left: 270px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section {
  padding: 0 30px;
  min-height: 100vh;
  display: block;
  opacity: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.row-center {
  align-items: center;
  justify-content: center;
}

.pad15 {
  padding: 0 15px;
}


/* section title */

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  margin-bottom: 50px;
}

.section-title h2 {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  width: max-content;
}

.section-title h2::after {
  content: "";
  position: absolute;
  left: -2%;
  top: -1%;
  width: 17%;
  height: 4px;
  background: var(--orangeColor);
}

.section-title h2::before {
  content: "";
  position: absolute;
  right: -2%;
  bottom: 7%;
  width: 17%;
  height: 4px;
  background: var(--orangeColor);
}

::-webkit-scrollbar {
  width: 1.25rem;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  background: linear-gradient(to bottom , rgba(0,0,0,0.17), #Fccfc3);
}

::-webkit-scrollbar-thumb {
  background: #Fff;
  border-radius: 100vw;
  border: 0.2rem solid #Fccfc3;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.17);
}


@media screen and (max-width: 1240px) {
    .main-content {
      padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 0 18px;
  }
}